html{
	background-color: #ececec;
	color: 	#383131;
	font-family: 'Slabo 27px', serif;
}

nav ul{
	list-style-type: none;
}

nav ul li{
	display: inline;
	padding: 20px;
}

nav ul li:hover{
	font-weight: bold;
	cursor: pointer;
}

section{
	padding-bottom: 10px;
	padding: 10px;
}

section article{
	padding: 5px 30px;
}

.screenshot-image{
	width: 100%;
}

.panelContainer{
	max-width: 80%;
	min-width: 580p;
	padding: 0px;
	margin: auto;
}

.screenshot {
	/*max-width: 80%;
	min-width: 580p
	padding: 0px;
	margin: auto;*/

	width: 75%;
	min-width: 650px;
	max-width: 1000px;
}

.screenshot-description{
	  position: relative;
		width: 100%;
		background-color: rgba(61, 79, 93, 0.2);
		float: left;
		clear: both;
}

.panelContainer{
	display:inline-block;
}

.loading-animation{
	position: absolute;
	padding: 145px 272px;
}

/*
.screenshot div {
	display: inline;
	position: relative;
	bottom: 81px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 2px 20px;
	float: left;
}*/

.controls {
    width: 100px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 2px;
    text-align: center;
    margin-left: 10px;
    height: 23px;
}

.post-category.pink{
	background-color: #b66a6a;
}

.post-category.green{
	background-color: #	#124d3f;
}

.post-category.purple{
	background-color: #5b253c;
}

.post-category.yellow{
	background-color: #f5b049;
}

.post-category.blue{
	background-color: #0362a2;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 450px) {

}
